@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500);

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
	color: #005AAE;
}

.page-header {
	background-color: #0172BA;
}