@import "variables";
@import "functions";
@import "images";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,500,300);

* {
  font-family: @font-primary, sans-serif !important;
}

body,
table,
form,
td,
th,
p {
  color: @color-text !important;
  font-size: 12px !important;
}

body {
  line-height: 20px !important;
  background-color: @color-bg;
}

pre {
  font-family: monospace !important;
}

a,
a:hover,
a:visited,
a:link {
  font-size: 12px;
  text-decoration: none !important;
  color: @color-link;
  &:hover {
    color: @color-link-hover !important;
  }
}

#header {
  height: 45px;
  background-color: @color-primary;
  text-transform: uppercase;
  z-index: 1030;
  letter-spacing: 1px;
  padding: 3px;

  .login {
    top: inherit;
    margin-top: 2px;
    a {
      font-size: 10px;
    }
    a:hover {
      color: @color-white !important;
    }
    b {
      font-weight: 400;
    }
  }

  .searchbox {
    padding: 2px 10px;
  }

  .icon-help {
    .icon-img("../images/ic_help_outline_black.svg", @color-white);
  }
}

select,
input,
.CodeMirror-scroll {
  color: @color-text !important;
  background: darken(@color-primary, 10%) !important;
  border: 0 !important;
  box-shadow: none !important;
}

.build-search-row input,
#search-box {
  padding: 17px 15px;
  border-radius: 3px;
  height: 26px;
}

#breadcrumbBar {
  background-color: transparent;
}

.top-sticker-inner {
  background: none repeat scroll 0 0 @color-sticker-bg !important;
}

#breadcrumbs li:hover,
A.breadcrumbBarAnchor.mouseIsOverMenuSelector {
  background-color: transparent !important;
}

#breadcrumbs {
  color: @color-text !important;
  background-color: @color-accent-light;
  text-decoration: none;
  border-bottom: none !important;
  LI A:link,
  LI A:visited {
    color: @color-text !important;
  }
}

#pipeline-box .table-box {
  .table-viewPort {
    border: none !important;

    .stage-start .cell-box {
      .stage-start-time {
        background-color: transparent !important;
        border: none !important;
        .date {
          background-color: transparent !important;
        }
      }
      .changeset-box {
        text-shadow: none !important;
      }
    }

    tr.totals .stage-start .cell-color {
      color: @color-text !important;
    }
  }

  tr td {
    text-shadow: none !important;
  }

  td {
    &.SUCCESS .cell-color .stage-wrapper {
      background-color: @color-green !important;
    }
    &.FAILED .cell-color .stage-wrapper {
      background-color: @color-red !important;
    }
    .cell-color {
      background-color: none;
      .stage-wrapper {
        border: none;
        color: @color-black;
        div span {
          opacity: 1 !important;
          font-size: 1em !important;
          text-shadow: none !important;
          font-weight: normal !important;
        }
        .status {
          text-shadow: none;
          color: @color-black;
          font-weight: normal;
        }
      }
    }
  }
}

#disable-project {
  float: right;
}

#notification-bar {
  height: 50px !important;
}

#executors .pane-content > table tr {
  td:first-child {
    color: #aaa !important;
    font-weight: bold;
    font-size: 1.3em !important;
    text-align: center;
  }
  td:nth-child(3) {
    display: none;
  }
}

.pane-frame {
  border: @table-border;
  border-radius: 0;

  &:hover,
  &.mouseover {
    border: @table-border !important;
  }

  .single-line:hover,
  .single-line.model-link-active {
    background: @color-accent-light !important;
  }
}

.bigtable {
  tr {
    border-color: @table-header-color;
  }
  th {
    border-bottom: none !important;
    background-color: @color-accent-light;
  }
}

.pane-header,
.pane-footer {
  color: @color-text;
  background-color: @table-header-color;
  border-radius: 0;
  border: 0;
}

.pane-header {
  border-bottom: 2px solid @table-header-color;
}

table.stripped-odd tr:nth-child(odd),
table.stripped tr:nth-child(even) {
  background: darken(@color-bg, 2%);
}

table.stripped,
table.stripped-even,
table.stripped-odd {
  tr:hover {
    background: lighten(@color-bg, 2%) !important;
  }
}

table.sortable {
  a.sortheader {
    color: lighten(@color-accent-light, 50%);
  }
}

table.parameters {
  tbody:hover {
    background-color: @color-accent-light;
  }
}

.tabBar {
  .tab {
    background: @tab-inactive-background;
    &:first-child {
      margin-left: 0;
    }
    &.active a {
      background: @tab-active-background;
    }
    a {
      border: @table-border !important;
      border-bottom: none !important;
      padding: 5px 10px;
      border-radius: 0;
      color: @color-text !important;
      &:hover {
        background: lighten(@tab-active-background, 10%);
      }
    }
  }
}

#projectstatus {
  tbody tr:first-child th:first-child,
  tbody tr:first-child th:last-child {
    border-radius: 0;
  }
  .header {
    border: none;
  }
}

#buildHistoryPage {
  .build-search-row {
    td {
      padding: 0;
    }
    .clear {
      padding: 5px 10px;
      font-size: 1.3em;
      top: 0;
      right: 0;
      &:hover {
        border: 0;
        background-color: @color-accent-light;
        top: 0px;
        padding-right: 10px;
      }
    }
  }

  .build-row {
    &.model-link-active {
      background-color: @color-accent-light !important;
    }
  }
}

footer {
  padding: 5px 0;
  background-color: @color-footer-bg;
  border: 0;
}

#management-links {
  padding-left: 0 !important;
  a {
    margin-right: 10px;
    font-weight: 600;
  }
  tr {
    display: block;
    margin: 10px 0;
  }
  td div {
    color: #333 !important;
  }
}

th.pane {
  background-color: transparent;
}

#side-panel .task-link {
  color: @color-text;
}

.bottom-sticker-edge {
  display: none;
}

.bottom-sticker-inner {
  margin: 0 0 0 -15px;
  padding-left: 15px;
  background: none repeat scroll 0 0 @color-sticker-bg !important;
}

a#jenkins-home-link {
  opacity: 1 !important;
}

table.progress-bar.red td.progress-bar-done {
  background-color: @color-red !important;
  border-color: @color-red !important;
}

td.progress-bar-done {
  background-color: @color-green !important;
  border-color: @color-green !important;
}

td.progress-bar-left {
  border: none !important;
  background-color: #ccc !important;
}

table.progress-bar {
  border-color: transparent !important;
}

td {
  vertical-align: middle;
}

.ygtvlabel,
.ygtvlabel:link,
.ygtvlabel:visited,
.ygtvlabel:hover {
  background-color: transparent !important;
}

.yuimenuitemlabel {
  outline: none;
}

#main-panel > div {
  background-color: transparent !important;
}

#main-panel-content > div:nth-child(2) {
  background-color: transparent !important;
}

#jenkins .yui-button {
  button {
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.5px;
    transition: 0.1s ease-out;
    cursor: pointer;
    border: none !important;
    border-radius: 3px;
    display: inline-block;
    height: 36px;
    outline: 0;
    padding: 0 2rem;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
  }
  &.primary button {
    color: @color-white !important;
    background-color: @color-button !important;

    &:hover {
      background-color: @color-button-hover !important;
    }
    &:active {
      color: @color-black !important;
      background-color: @color-button-active !important;
      box-shadow: none;
    }
  }
}

.jenkins-config-widgets .form-config.tabBarFrame {
  border-bottom: 5px solid @tab-inactive-background !important;
  .tabBar {
    .tab.active,
    .tab:hover {
      color: @color-text !important;
      background-color: @tab-active-background !important;
      border-color: @tab-active-background !important;
    }
  }
}

.bottom-sticker-inner {
  border: none !important;
  padding-left: 36px !important;
  background: @color-accent-light !important;
}

.jenkins-config-widgets
  .form-config.tabBarFrame
  .tabBar
  .tab:hover
  .jenkins-config
  table
  .section-header {
  border-top: 1px solid @tab-inactive-background !important;
}

.jenkins-config,
.jenkins-config-widgets {
  background-color: @tab-active-background !important;
  border-color: @table-border-color !important;
}

#enable-project .yui-button {
  vertical-align: middle;
}

.ace-tomorrow,
.console-output,
.console-output * {
  position: relative;
  font-family: @font-console, Courier, monospace !important;
  background: @color-console-bg;
  color: @color-console-text;
  cursor: text;
}

.ace-tomorrow {
  .ace_gutter {
    color: @color-text;
    background: @table-header-color;
  }
  .ace_gutter-active-line,
  .ace_active-line {
    background: darken(@table-header-color, 5%) !important;
  }
}

.console-output {
  padding: 10px 20px;
  a {
    color: @color-console-text;
    font-weight: bold;
  }
}

[style^="color:gray"] {
  color: @color-grey !important;
}

[style^="color:red"] {
  color: @color-red !important;
}

// make headings on the config pages easier to read
.section-header {
  font-size: 2em;
  border-bottom: none !important;
  font-weight: lighter !important;
  margin-bottom: 0.2em;
  margin-top: 1.5em !important;
  padding-bottom: 3px;
}

.sonar-qg,
.sonar-ce {
  color: @color-text !important;
  font-size: 12px !important;
  font-weight: normal !important;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  margin: 0 !important;
  padding: 0 !important;
}

#jenkins .yuimenu .bd {
  border: 1px solid @table-border-color;
  box-shadow: none;
}

.yui-skin-sam {
  .yuimenuitemlabel {
    color: @color-text !important;
  }
  .yuimenu .bd {
    background-color: @tab-active-background;
  }
  .yuimenuitem-selected {
    background-color: @tab-inactive-background;
  }
}

.cbwf-popover .alert {
  background-color: @tab-inactive-background!important;
  text-shadow: none !important;
  color: @color-text !important;
}

.cbwf-dialog {
  border: 0;
  background-color: @table-header-color !important;
  .header {
    background-color: @table-header-color !important;
  }
}

.cbwf-stage-logs {
  .log-details {
    background-color: @table-header-color !important;
    > div {
      background-color: @tab-inactive-background !important;
    }
    .console-output {
      border: 0 !important;
      color: @color-text !important;
    }
  }
  .node-name{
    background-color: @color-red !important;
    border-radius: 0% !important;
    color: @color-primary !important;
    a {
      color: @color-primary !important;
    }
  }
  .node-log-frame.FAILED .node-name {
    background-color: @color-red !important;
  }
}

.cbwf-widget {
  .alert-danger {
    border-color: @color-red !important;
    .btn {
      background: @color-red !important;
    }
  }

  // This breaks the layout, so hiding it'Glyphicons Halflings' !important
  .label-danger {
    display: none !important;
  }

  .alert-success {
    border-color: @color-green !important;
    .btn {
      background: @color-green !important;
    }
  }

  .glyphicon {
    font-family: "Glyphicons Halflings" !important;
  }
}

