<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MGGQXF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MGGQXF');</script>
<!-- End Google Tag Manager -->

<section class="page-header">
    <h1 class="project-name">{{ site.title }}</h1>

    <h2 class="project-tagline">{{ site.description }}</h2>
    <a href="{{ site.github_url }}" class="btn">View on GitHub</a>
    <a href="dist/neo-light.css" class="btn" id="download">Download CSS Theme</a>
</section>
